@import "mixins";
@import "variables";
@import "bootstrap";
@import "concrete";
@import "darkmode";
@import "hamburgers";

// Breakpoint viewport sizes and media queries.
//
// Breakpoints are defined as a map of (name: minimum width), order from small to large:
//
//    (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
//
// The map defined in the `$grid-breakpoints` global variable is used as the `$breakpoints` argument by default.

// Name of the next breakpoint, or null for the last breakpoint.
//
//    >> breakpoint-next(sm)
//    md
//    >> breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    md
//    >> breakpoint-next(sm, $breakpoint-names: (xs sm md lg xl))
//    md
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n != null and $n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
//    >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    576px
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.02px
// to work around the limitations of `min-` and `max-` prefixes and viewports with fractional widths.
// See https://www.w3.org/TR/mediaqueries-4/#mq-min-max
// Uses 0.02px rather than 0.01px to work around a current rounding bug in Safari.
// See https://bugs.webkit.org/show_bug.cgi?id=178261
//
//    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    767.98px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - .02, null);
}

// Returns a blank string if smallest breakpoint, otherwise returns the name with a dash in front.
// Useful for making responsive utilities.
//
//    >> breakpoint-infix(xs, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    ""  (Returns a blank string)
//    >> breakpoint-infix(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    "-sm"
@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media that spans multiple breakpoint widths.
// Makes the @content apply between the min and max breakpoints
@mixin media-breakpoint-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($lower, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($upper, $breakpoints) {
      @content;
    }
  }
}

// Media between the breakpoint's minimum and maximum widths.
// No minimum for the smallest breakpoint, and no maximum for the largest one.
// Makes the @content apply only to the given breakpoint, not viewports any wider or narrower.
@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $max: breakpoint-max($name, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($name, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($name, $breakpoints) {
      @content;
    }
  }
}

$accent: #017DDD;
$secondary: #0099ff;
$light-gray: #F6F8FA;
$border: #979797;
$text: #4C4F56;
$white: #ffffff;
$dark-gray: #3B3B3B;
$gray: #828282;
$legal: #19191A;
$error: #D11A15;
$breadcrumb: #A9AAAB;
$mobile-nav: #363636;
$card-border: #D8D8D8;
$card-headlines: #7C8088;
$header-image-background: #e4e4e4;
$modal-header-background-fallback-color: rgba(0, 116, 211, 1);
$modal-header-background-gradient-start-color: rgba(0, 116, 211, 1);
$modal-header-background-gradient-end-color: rgba(0, 97, 176, 1);
$modal-header-text-color: #ffffff;
$table-head-background-color: #E5EAEC;

:root {
  --scheme-type: light;
  --primary: #222;
  --secondary: #ffffff;
  --tertiary: #017DDD;
  --quaternary: #D11A15;
  --header_background: #222533;
  --header_primary: #333;
  --highlight: #017DDD;
  --danger: #D11A15;
  --success: #090;
  --love: #D11A15;
  --always-black-rgb: 0, 0, 0;
  --primary-rgb: 34, 34, 34;
  --primary-low-rgb: 232.9, 232.9, 232.9;
  --secondary-rgb: 255, 255, 255;
  --header_background-rgb: 255, 255, 255;
  --tertiary-rgb: 0, 136, 204;
  --primary-very-low: #f8f8f8;
  --primary-low: #e9e9e9;
  --primary-low-mid: #bdbdbd;
  --primary-medium: #919191;
  --primary-high: #017DDD;
  --primary-very-high: #434343;
  --header_primary-low: #f2f2f2;
  --header_primary-low-mid: #d0d0d0;
  --header_primary-medium: #afafaf;
  --header_primary-high: #929292;
  --header_primary-very-high: #5e5e5e;
  --secondary-low: #4d4d4d;
  --secondary-medium: gray;
  --secondary-high: #a6a6a6;
  --secondary-very-high: #ededed;
  --tertiary-low: #017DDD;
  --tertiary-medium: #017DDD;
  --tertiary-high: #017DDD;
  --tertiary-hover: #017DDD;
  --quaternary-low: #f7cdc2;
  --highlight-low: #017DDD;
  --highlight-medium: #017DDD;
  --highlight-high: #017DDD;
  --danger-low: #D11A15;
  --danger-low-mid: #D11A15;
  --danger-medium: #D11A15;
  --danger-hover: #D11A15;
  --success-low: #017DDD;
  --success-medium: #017DDD;
  --success-hover: #017DDD;
  --love-low: #fee9ee;
  --wiki: green;
  --blend-primary-secondary-5: #f9f9f9;
  --primary-med-or-secondary-med: #919191;
  --primary-med-or-secondary-high: #919191;
  --primary-high-or-secondary-low: #646464;
  --primary-low-mid-or-secondary-high: #bdbdbd;
  --primary-low-mid-or-secondary-low: #bdbdbd;
  --primary-or-primary-low-mid: #222;
  --highlight-low-or-medium: #ffffca;
  --tertiary-low-or-tertiary-high: #d1f0ff;
  --tertiary-med-or-tertiary: #6cf;
  --secondary-or-primary: #ffffff;
  --tertiary-or-white: #08c;
  --facebook-or-white: #4267b2;
  --twitter-or-white: #1da1f2;
  --hljs-comment: #998;
  --hljs-number: #099;
  --hljs-string: #d14;
  --hljs-literal: #458;
  --hljs-tag: #000080;
  --hljs-attribute: #008080;
  --hljs-symbol: #990073;
  --hljs-bg: #f8f8f8;
  --google: #ffffff;
  --google-hover: #f2f2f2;
  --instagram: #e1306c;
  --instagram-hover: #ac194b;
  --facebook: #4267b2;
  --facebook-hover: #2d477a;
  --cas: #70ba61;
  --twitter: #1da1f2;
  --twitter-hover: #0c85d0;
  --github: #100e0f;
  --github-hover: #463e42;
  --discord: #7289da;
  --discord-hover: #4a67cf;
  --gold: #e7c300;
  --silver: silver;
  --bronze: #cd7f32;
  --font-family: 'Noto Sans', sans-serif;
  --heading-font-family: 'Poppins', sans-serif;
}

html {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #f6f8fa;

  &.text-size-smallest {
    font-size: $base-font-size-smallest;
  }

  &.text-size-smaller {
    font-size: $base-font-size-smaller;
  }

  &.text-size-larger {
    font-size: $base-font-size-larger;
  }

  &.text-size-largest {
    font-size: $base-font-size-largest;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

/**
 * @project:   ConcreteCMS Theme
 *
 * @copyright  (C) 2021 Portland Labs (https://www.portlandlabs.com)
 * @author     Fabian Bitter (fabian@bitter.de)
 */

// Import hamburger styles
$hamburger-layer-width: 20px;
$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-types: (spin);

$hamburger-layer-color: $gray;
$hamburger-active-layer-color: $gray;
$hamburger-hover-opacity: 1.0;

//@import "~hamburgers/_sass/hamburgers/hamburgers";

header {
  -webkit-text-size-adjust: 100%;
  direction: ltr;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  position: relative;
  background-color: #222533;
  box-sizing: border-box;
  height: 100px;
}

.spinner {
  display: none !important;
}


.categories-and-latest {
  .category-name, .latest-topic-list-item .title, .topic-statuses svg {
    color: $accent !important;
  }

  .category-description, .latest-topic-list-item .category-name {
    color: $text !important;
  }
}

.topic-list {
  .link-top-line .title {
    color: $accent !important;
  }

  .category-name {
    color: $text !important;
  }

}

header nav.navbar-light {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 0;
  height: 60px;
}

#navbarSupportedContent {
  width: 100%;
}

header nav.navbar-right {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin-top: 0;
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: row;
}

.d-header-wrap {
  position: relative !important;
}

#ccm-desktop-nav {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin-left: auto !important;
  height: 60px;

  li.nav-item {
    -webkit-text-size-adjust: 100%;
    direction: ltr;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    float: left;
    margin-top: 25px;

    a.nav-link {

      padding-left: 0;
      padding-right: 0;
      display: block;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      background-color: transparent;
      text-decoration: none;
      cursor: pointer;
      box-sizing: border-box;
      padding-top: 0;
      padding-bottom: 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      line-height: 30px;
      margin-top: 0px;
      margin-bottom: 25px;
      min-width: 50px;
      text-align: center;
      position: relative;
      opacity: 0.7;
      color: #ffffff;
      margin-left: 5px;
      padding: 8px;
      margin-right: 5px;
    }
  }
}


.bootstrap header {
  background-color: $dark-blue-secondary !important;

  #ccm-mobile-search-btn {
    color: $gray;
  }

  #ccm-sub-nav {
    background-color: $dark-blue-quaternary;
    border-top: 1px solid $dark-blue-quaternary;

    h3 {
      color: $white;
    }

    nav {
      ul {
        li {
          &.active, &:hover {
            a {
              opacity: 1;
              color: $white;
            }
          }

          a {
            opacity: 0.7;
            color: $white;
          }
        }
      }
    }
  }

  /* Desktop */
  @include media-breakpoint-up(lg) {
    .navbar {
      #ccm-desktop-nav > .nav > .nav-item {
        &.dropdown {
          &::after {
            background-color: $white !important;
          }
        }

        &.dropdown.show, &.dropdown:hover {
          background-color: $white !important;

          & > a {
            opacity: 1;
            color: $black !important;
          }
        }

        & > a {
          opacity: 0.7;
          color: $white;

          &:hover, &:active, &:focus {
            opacity: 1;
            color: $black !important;
          }
        }

        &:not(.dropdown) > a {

          &:hover, &:active, &:focus {
            opacity: 1;
            color: $white !important;
          }
        }

        &.active {
          & > a {
            opacity: 1;
            color: $white !important;

            &::after {
              background-color: $white;
            }
          }
        }

        & > ul.dropdown-menu {
          & > li.nav-item {
            &:hover, &.active, &:active {
              background-color: $dark-blue;

              & > a.nav-link {
                color: $white !important;
              }
            }

            & > a.nav-link {
              color: $gray-tertiary;
            }
          }
        }
      }

      #ccm-account-dropdown:focus,
      #ccm-account-dropdown[aria-expanded=true] {
        background-color: $white;

        &::before {
          background-color: $white;
        }

        i {
          color: #222533 !important;
        }
      }

      div[aria-labelledby='ccm-account-dropdown'] {
        &::before {
          background-color: $white;
        }
      }
    }
  }

  /* Tablet + Mobile */
  @include media-breakpoint-down(md) {

    height: 60px !important;

    .navbar-collapse.collapse.show {
      .nav-item {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition: -webkit-transform .2s, opacity .2s;
        transition: transform .2s, opacity .2s;

        font-family: "Noto Sans" !important;
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 1.5 !important;
        color: #212529 !important;
        list-style: none !important;
        box-sizing: border-box !important;
        -webkit-font-smoothing: antialiased !important;
        animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1) !important;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 24px !important;

        a, button {
          font-family: "Noto Sans" !important;
          list-style: none !important;
          box-sizing: border-box !important;
          -webkit-font-smoothing: antialiased !important;
          text-decoration: none !important;
          white-space: nowrap !important;
          display: block !important;
          padding: 0.5rem 1rem !important;
          padding-right: 0 !important;
          padding-left: 0 !important;
          border: none !important;
          background: transparent !important;
          outline: 0 !important;
          font-weight: 400 !important;
          text-align: center !important;
          font-size: 24px;
          line-height: 50px;
          color: #ffffff !important;
          text-transform: none !important;
          margin: 0 !important;
          opacity: 1 !important;
        }

        &.index-1 {
          opacity: 1 !important;
          transition-delay: (1 / 20) + s;
        }

        &.index-2 {
          opacity: 1 !important;
          transition-delay: (2 / 20) + s;
        }

        &.index-3 {
          opacity: 1 !important;
          transition-delay: (3 / 20) + s;
        }

        &.index-4 {
          opacity: 1 !important;
          transition-delay: (4 / 20) + s;
        }

        &.index-5 {
          opacity: 1 !important;
          transition-delay: (5 / 20) + s;
        }

        &.index-6 {
          opacity: 1 !important;
          transition-delay: (6 / 20) + s;
        }

        &.index-7 {
          opacity: 1 !important;
          transition-delay: (7 / 20) + s;
        }

        &.index-8 {
          opacity: 1 !important;
          transition-delay: (8 / 20) + s;
        }

        &.index-9 {
          opacity: 1 !important;
          transition-delay: (9 / 20) + s;
        }

        &.index-10 {
          opacity: 1 !important;
          transition-delay: (10 / 20) + s;
        }

      }
    }

    .dropdown-menu {
      a, button {
        font-size: 18px !important;
        line-height: 40px !important;
      }
    }


    #ccm-sub-nav {
      display: none;
    }

    .header-site-title {
      display: flex;
      position: relative;
      top: 0;
      z-index: 1500;
      margin-left: 16px;

      img {
        width: 209px;
      }
    }

    #ccm-desktop-nav {
      align-items: center;
      display: flex;
      min-height: calc(100vh - 60px - 70px); /* substract line height of one nav-item + navbar height */
      justify-content: center;
      text-align: center;
      height: auto !important;
    }

    #ccm-mobile-search-btn {
      z-index: 1500;
    }

    #ccm-toggle-mobile-nav {
      position: absolute;
      right: 16px;
      top: 11px;
      z-index: 1500;
      margin-right: 0;
    }

    .navbar {
      flex-wrap: wrap;
    }

    .navbar, #ccm-desktop-nav {
      height: 60px !important;
      z-index: 1030; //this value is from variables.less -> @zindex-navbar-fixed
      position: fixed;
      left: 0;
      right: 0;
      padding-left: 0;
      padding-right: 0;

      .nav-item, li {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
        -webkit-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
        -moz-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
        -o-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
        animation-timing-function: cubic-bezier(.45, .005, 0, 1);

        & > a {
          font-size: 24px;
          font-weight: 400;
          text-align: center;
          line-height: 50px;

          &:hover, &:active, &:focus {
            outline: none !important;
          }
        }

        &.active {
          & > a {

          }
        }
      }
    }

    .collapse:not(.show) {
      display: none !important;
    }

    #navbarSupportedContent {

      text-align: center;
      width: 100%;
      z-index: 1030; //this value is from variables.less -> @zindex-navbar-fixed
      height: 100vh;
    }

    .navbar-inner {
      max-width: 720px;
      margin: auto;
      display: flex;
      width: 100%;
      position: relative;
    }

    .nav {
      width: 100%;
    }

    .dropdown-menu {
      background: #F9F5F5 !important;

      & > li.nav-item {
        margin: 0;
        padding: 0;

        & > a.nav-link {
          margin: 0;
          padding: 0;
          font-size: 22px;
          line-height: 50px;
          font-family: "Noto Sans";
        }
      }
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }

    .navbar {
      background-color: $dark-blue-secondary;

      .nav-item {
        opacity: 1;

        & > a {
          color: $white;

          &:hover, &:active, &:focus {
            color: $white !important;
          }
        }

        &.active {
          & > a {
            color: $white;
          }
        }
      }
    }

    #ccm-desktop-nav {
      background-color: $dark-blue-secondary;
    }

    #navbarSupportedContent {
      background-color: $white;
      border: none !important;
    }

    .dropdown-menu {
      background: $dark-blue-quaternary !important;

      & > li.nav-item {
        color: $white;
        opacity: 0.7;

        & > a.nav-link {
          color: $white;
          opacity: 1;
        }
      }
    }


  }

  display: flex;
  width: 100%;
  margin-bottom: 15px;
  height: 60px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  position: relative;

  &.no-breadcrumb {
    margin-bottom: 0 !important;
  }

  .navbar-inner {
    display: contents;
  }

  /* General */
  #ccm-toggle-mobile-nav {
    outline: none !important;
    box-shadow: none !important;
    margin-right: 16px;
    top: 17px;
  }

  #ccm-mobile-search-btn {
    position: absolute;
    right: 59px;
    color: $gray;
    margin-top: 0;
    top: 14px;
  }

  & > .container {
    z-index: 101;
  }

  #ccm-sub-nav {
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.05);
    height: 40px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 100;

    h3 {
      font-family: "Poppins";
      float: left;
      font-size: 12px;
      line-height: 40px;
    }

    nav {
      float: right;

      ul {
        display: block;
        float: right;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: block;
          float: left;
          margin: 0;
          padding: 0;
          list-style: none;
          margin-left: 30px;

          a {
            font-family: "Noto Sans";
            font-size: 14px;
            line-height: 40px;
          }
        }
      }
    }
  }

  /* Desktop */
  @include media-breakpoint-up(lg) {

    &.has-sub-nav {
      height: 100px;
    }

    .caret, .dropdown-toggle::after {
      display: none;
    }

    .header-site-title {
      img {
        width: 260px;
        height: auto;
      }
    }

    ul.nav li.dropdown:hover > ul.dropdown-menu {
      display: block;
    }

    .navbar {
      padding: 0;
      height: 60px;

      #ccm-desktop-nav > .nav > .nav-item {
        margin-top: 25px;

        &:not(:last-child) {
          & > a {
            margin-left: 5px;
            margin-right: 5px;
          }

        }

        &.dropdown {
          &::before {
            /* Position the pseudo-element. */
            content: ' ';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            /* Create the box shadow at expanded size. */
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

            /* Hidden by default. */
            opacity: 0;
            transition: opacity 500ms;
          }

          &::after {
            content: " ";
            height: 15px;
            position: absolute;
            right: 1px;
            bottom: 15px;
            width: 100%;
            left: 0;
            z-index: 10000;
            opacity: 0;
            transition: opacity 500ms;
          }
        }

        &.dropdown.show, &.dropdown:hover {

          &::before {
            opacity: 1;
          }

          &::after {
            opacity: 1;
          }
        }

        & > a {
          font-family: "Poppins";
          text-transform: none;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
          margin-top: 0px;
          margin-bottom: 25px;
          min-width: 50px;
          text-align: center;
          position: relative;

          &:hover, &:active, &:focus {
            outline: none !important;
          }
        }

        &.active {
          & > a {

            &::after {
              display: block;
              content: " ";
              position: absolute;
              height: 4px;
              bottom: -7px;
              width: 100%;
              left: 0;
            }
          }
        }


        &:hover > ul.dropdown-menu,
        & > ul.dropdown-menu.show {
          max-height: 450px;
          opacity: 1;
        }

        & > ul.dropdown-menu {

          margin-top: -23px;
          min-width: 234px;
          transition: all 0.5s;

          max-height: 0;
          display: block;
          overflow: hidden;
          opacity: 0;


          & > li.nav-item {
            &:hover, &.active, &:active {

            }

            & > a.nav-link {
              font-family: "Noto Sans";
              font-size: 16px;
              line-height: 41px;
              margin: 0;
              text-align: left;
              text-transform: none;
              padding: 4px 24px;
            }
          }
        }
      }

      #ccm-account-dropdown {
        margin-right: 0 !important;
      }

      #ccm-account-dropdown:focus {
        &::before {
          content: " ";
          width: 50px;
          height: 15px;
          position: absolute;
          top: 0;
          right: 0;
        }

        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
      }

      div[aria-labelledby='ccm-account-dropdown'] {
        border: none !important;

        &::before {
          content: " ";
          width: 50px;
          height: 20px;
          position: absolute;
          top: -11px;
          right: 0;
        }

        margin-top: -12px;
        min-width: 234px;
      }
    }
  }

  /* Mobile */
  @include media-breakpoint-down(sm) {
    height: 50px;

    #ccm-mobile-search-btn {
      top: 5px;
    }

    #ccm-toggle-mobile-nav {
      top: 7px;
    }

    .header-site-title {
      top: -5px;

      img {
        width: 179px;
      }
    }

    #ccm-desktop-nav {
      min-height: calc(100vh - 60px - 60px); /* substract line height of one nav-item + navbar height */
    }

    .navbar {
      height: 50px;

      .nav-item {
        & > a {
          font-size: 24px;
          line-height: 50px;
        }
      }
    }

    .navbar-inner {
      max-width: 540px;
    }

    .dropdown-menu {

      & > li.nav-item {
        margin: 0;
        padding: 0;

        & > a.nav-link {
          line-height: 40px;
          font-size: 18px;
        }
      }
    }
  }
}

/*
 * Popup menu
 */
.popup-menu {
  background-color: $white;
  border: 1px solid rgba($border, 0.1);

  ul {
    margin: 0;
    margin-bottom: 1rem;
    list-style: none;

    li {
      border-bottom: 1px solid rgba($border, 0.1);

      &:last-child {
        border: none;
      }
    }
  }

  .btn {
    outline: none !important;
    background: $white;
    color: $text;

    .d-icon {
      color: $text;
    }

    &:hover {
      color: $white;
      background: $accent;

      .d-icon {
        color: $white;
      }
    }

    &.popup-menu-btn-danger {
      .d-icon {
        color: $text;
      }

      .d-button-label {
        color: $text;
      }

      &:hover {
        .d-icon,
        .d-button-label {
          color: $white;
        }

        background: $error;
      }
    }
  }
}

/*
 * Buttons
 */
@mixin btn(
  $text-color: $accent,
  $bg-color: $white,
  $border-color: $border
) {
  display: inline-block;
  box-sizing: border-box;
  color: $text-color;
  background: $bg-color;
  font-size: 16px !important;
  line-height: 24px !important;
  transition: all 0.25s;
  border: 1px solid $border-color !important;
  font-weight: 700 !important;
  border: 1px solid transparent;
  padding: 10px 30px !important;
  border-radius: 20px;
  height: 46px;
  line-height: 46px;
  text-overflow: ellipsis;
  width: auto;
  white-space: nowrap;

  &.no-text {
    padding: 10px 10px !important;
  }

  .d-button-label, h2 {
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 700 !important;
  }

  .d-icon {
    font-weight: 700 !important;
    color: $text-color;
  }
  @include hover {
    background: $bg-color;
    color: $text-color;
    .d-icon {
      color: $text-color;
    }
  }
  &[href] {
    color: $text-color;
  }
  &:active,
  &.btn-active {
    background: $bg-color;
  }
  &[disabled],
  &.disabled {
    opacity: 0.4;

    &:hover {
      color: $text-color;
      background: $bg-color;

      .d-icon {
        color: $text-color;
      }
    }
  }
}

.btn.hidden {
  display: none;
}

.composer-fields .select-kit.combo-box.mini-tag-chooser .select-kit-header {
  height: 43px;
}

.composer-controls button, .submit-panel .btn-mini-toggle {
  border: none !important;
  background: transparent !important;
}

.popup-menu .btn {
  @include btn(
          $text-color: $text,
          $bg-color: $white,
          $border-color: trasparent
  );
  border: none !important;
  border-radius: 0;

  &:hover, &:active, &.active {
    background-color: $accent !important;
    color: $white;

    * {
      color: $white;
    }
  }
}

.toggle-admin-menu,
.btn {
  @include btn;

  h2 {
    font-size: inherit;
    font-weight: inherit;

  }
}

#list-area .top-lists .btn {
  padding: 0 26px !important;

  h2 {
    margin: 0;
  }
}

.reply-to-post,
.submit-panel .mobile-file-upload,
.submit-panel .mobile-preview,
.toggle-admin-menu,
.show-current-style .btn,
.add-value-btn,
.remove-value-btn,
.color-scheme .btn,
.pref-avatar .btn,
.pref-username .btn,
.alt-actions .btn,
.small-action-desc .btn,
.topic-map .btn,
.dropdown-select-box-header.no-text,
.modal-close,
.d-editor .btn {
  &:not(.toggle-admin-menu) {
    background: transparent !important;
    border-radius: 0;
    border: none !important;
  }
}

#create-topic,
.btn-primary {
  @include btn(
          $text-color: $white,
          $bg-color: $accent,
          $border-color: $accent
  );
}

.btn-danger,
.d-modal-cancel,
#reply-control .save-or-cancel .cancel,
a.cancel {
  @include btn(
          $text-color: $white,
          $bg-color: $error,
          $border-color: $error
  );
}

.btn.cancel {
  @include btn;
}

.btn.ok {
  @include btn(
          $text-color: $white,
          $bg-color: $accent,
          $border-color: $accent
  );
}

.btn-social {
  .d-icon {
    color: #ffffff;
  }

  color: #ffffff;
  background: #666;

  &:hover {
    color: #ffffff;
  }

  &[href] {
    color: var(--secondary);
  }

  &:before {
    margin-right: 9px;
    font-size: $font-0;
  }

  &.google_oauth2 {
    background: var(--google);
    color: #333;
    border: 1px solid var(--primary-low);
    // non-FA SVG icon for Google in login-buttons.hbs
    .d-icon {
      opacity: 0.9;
    }

    &:hover {
      color: currentColor;
      background: var(--google-hover);
    }
  }

  &.facebook {
    background: $facebook;

    &:hover {
      background: var(--facebook-hover);
    }
  }

  &.cas {
    background: var(--cas);
  }

  &.twitter {
    background: var(--twitter);

    &:hover {
      background: var(--twitter-hover);
    }
  }

  &.github {
    background: var(--github);

    &:hover {
      background: var(--github-hover);
    }
  }

  &.discord {
    background: var(--discord);

    &:hover {
      background: var(--discord-hover);
    }
  }
}

.btn-small {
  padding: 6px;
  font-size: $font-down-1;
  min-height: 20px;

  .d-icon {
    max-height: 0.87em;
  }
}

.btn-large {
  padding: 9px 18px;
  font-size: $font-up-1;
  line-height: $line-height-small;
}

.btn-flat {
  background: transparent;
  border: 0;
  outline: 0;
  line-height: $line-height-small;
  transition: color 0.25s, background 0.25s;

  .d-icon {
    color: var(--primary-low-mid);
  }

  @include hover {
    .d-icon {
      color: var(--primary);
    }
  }

  &.close {
    padding: 0;
    min-height: unset;
    background: transparent;
    font-size: $font-up-3;

    .d-icon {
      color: var(--primary-high);
    }

    @include hover {
      background: transparent;
      .d-icon {
        color: var(--primary);
      }
    }
  }
}

.btn-link {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  color: var(--tertiary);

  &:focus {
    outline: 1px currentColor dotted;
  }
}

/*
 * Select Kit
 */

.select-kit.dropdown-select-box .dropdown-select-box-header {
  height: 46px;
}

.select-kit {
  @include unselectable;

  .choice {
    .d-icon {
      color: $accent;
    }
  }

  .d-icon {
    color: $text;
  }

  .select-kit-body {
    background: $white;
  }

  .select-kit-row, .category-row {

    &.is-highlighted,
    &.is-selected, &:hover, &:focus, &:active {
      background: $accent !important;
      color: $white !important;
      background: $accent;

      * {
        color: $white !important;
      }

      .category-desc, .category-status, .badge-category, .topic-count, .d-icon {
        color: $white !important;
      }
    }

    .discourse-tag,
    .discourse-tag:visited,
    .discourse-tag:hover,
    .discourse-tag-count {
      background: $white;
    }
  }

  .select-kit-collection {
    background: $white;

    .validation-message {
      color: $error;
    }

    .select-kit-collection {
      &:hover .select-kit-row.is-highlighted:hover {
        background: $accent;
      }
    }

    &::-webkit-scrollbar-thumb {
      background: $white;
    }
  }

  .select-kit-errors-collection {
    background: $error;

    .select-kit-error {
      color: $white;
    }
  }

  .no-content,
  .is-loading {
    background: $white;
  }
}

.select-kit {
  &.dropdown-select-box {
    &.toolbar-popup-menu-options {
      .select-kit-row {
        .d-icon {
          color: $text;
        }

        &.is-highlighted,
        &.is-selected,
        &:hover {
          background: $accent;
          color: $white;

          .texts .name {
            color: $white;
          }
        }
      }
    }
  }
}


/*
 * Badges
 */


%badge {
  display: inline-block;
  font-weight: normal;
  white-space: nowrap;
  border-radius: 10px;
}

.badge-wrapper {

  &.bullet {
    span.badge-category {
      color: $text;

      .extra-info-wrapper & {
        color: $text;
      }
    }

    .d-icon {
      color: $text;
    }
  }

  &.bar {
    span.badge-category {
      color: var(--primary-high);

      .extra-info-wrapper & {
        color: var(--header-primary);
      }
    }
  }

  &.none {
    color: var(--primary-high);
  }
}

.badge-notification {
  @extend %badge;
  color: var(--secondary);
  background-color: var(--primary-low-mid-or-secondary-low);

  &[href] {
    color: var(--secondary);
  }

  &:hover {
    color: var(--secondary);
  }

  &.new-posts,
  &.unread-posts {
    background-color: var(--tertiary-med-or-tertiary);
    color: var(--secondary);
  }

  &.new-topic::before {
    background: var(--tertiary-high);
  }

  &.clicks {
    background-color: var(--primary-low);
    color: var(--primary-medium);
  }
}

.badge-posts {
  &[href] {
    color: var(--primary-med-or-secondary-med);
  }
}

.badge-group {
  @extend %badge;
  color: var(--primary);
  background-color: var(--primary-low);
  border-color: var(--primary-low);
}

/*
 * Dropdown select box
 */


.select-kit {
  &.dropdown-select-box {

    .select-kit-body {
      border: 1px solid rgba($border, 0.1);
    }

    .select-kit-row {
      .texts {
        .name {
          color: $text;
        }

        .desc {
          color: $text;
        }
      }
    }
  }
}

/*
 * Alert
 */

.search-container .search-advanced .search-notice .fps-invalid {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  box-sizing: border-box;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 0;
  margin-top: 0;

  color: #a94442;
  background-color: #f2dede;
  border-color: darken(adjust-hue(#f2dede, -10), 5%);
}

.alert-bootstrap-mode, .alert-wizard, .consent_banner, .alert {
  &.alert {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 0;
    margin-top: 0;

    .d-icon-times {
      display: none;
    }

    &.alert-info {
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba;
    }

    &.alert-success {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: darken(adjust-hue(#dff0d8, -10), 5%);
    }

    &.alert-info {
      color: #31708f;
      background-color: #d9edf7;
      border-color: darken(adjust-hue(#d9edf7, -10), 5%);
    }

    &.alert-warning {
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: darken(adjust-hue(#fcf8e3, -10), 5%);
    }

    &.alert-danger {
      color: #a94442;
      background-color: #f2dede;
      border-color: darken(adjust-hue(#f2dede, -10), 5%);
    }
  }
}

/*
 * Generic Styles
 */
.d-header {
  height: 60px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);

  #site-logo {
    &.logo-big {
      width: 260px;
      height: auto;
    }
  }
}

/*
 * Styles to emulate bootstrap containers
 */

#main-outlet {
  padding-top: 0;

  & > .container {
    padding-top: 15px;
  }
}

.wrap {
  max-width: none;
  margin: auto;
  display: block;
}

.d-header > .wrap .contents {
  background: #222533 !important;
}

.wrap > .contents,
#main-outlet > div, #main-outlet > section {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 30px);
  background-color: $white;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem !important;;
  padding-bottom: 0.3125rem !important;;
  margin-right: 1rem !important;
  font-size: 1.25rem !important;
  line-height: inherit;
  white-space: nowrap;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .wrap > .contents,
  #main-outlet > div, #main-outlet > section {
    max-width: 510px;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .wrap > .contents,
  #main-outlet > div, #main-outlet > section {
    max-width: 690px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrap > .contents,
  #main-outlet > div, #main-outlet > section {
    max-width: 930px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrap > .contents,
  #main-outlet > div, #main-outlet > section {
    max-width: 1110px;
  }
}

/*
 * Category Chooser
 */

.select-kit {
  &.combo-box {
    &.category-chooser {
      .select-kit-row {
        color: $text;

        .topic-count {
          color: $text;
        }

        .category-status {
          color: $text;
        }

        .category-desc {
          color: $text;
        }
      }
    }
  }
}

/*
 * Form inputs
 */

.select-kit .select-kit-header .selected-name {

}

.ember-text-field,
.select-kit.combo-box .select-kit-header {
  width: 100%;
  height: 43px;
  line-height: 43px;
  padding: .375rem .75rem !important;;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5 !important;;
  color: $text;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $border;
  border-radius: 0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:active, &:focus {
    border-color: $accent;
  }
}

/*
 * Header styles
 */
.d-header {
  .quick-access-panel > ul > li,
  .category-link,
  .d-link,
  .widget-link {
    background: transparent !important;;
    color: #666666 !important;

    * {
      color: #666666 !important;;
    }

    &:hover {
      background: transparent !important;;
      color: #666666 !important;;

      * {
        color: #666666 !important;;
      }
    }
  }
}

.d-header {
  .title-wrapper * {
    color: $white !important;
    opacity: 0.7 !important;

    &:hover {
      color: $white !important;
      opacity: 1 !important;
    }
  }
}


.header-dropdown-toggle {
  background: transparent !important;

  & > a {
    background: transparent !important;
  }
}

.d-header-icons .d-icon {
  opacity: 0.7 !important;
}

div.menu-links-header .fa, div.menu-links-header a,
.d-header-icons .d-icon {

  color: #ffffff !important;
  background: transparent !important;
}

.composer-popup {
  background: #fff3cd;
}

.consent_banner button {
  border: none !important;
}

/*
 * Nav Pills
 */

.nav-pills {
  li {

    a {
      line-height: 1.5;
      list-style: none;
      box-sizing: border-box;
      text-decoration: none;
      display: block;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      border: none;
      border-bottom: 3px solid transparent !important;
      font-weight: 700;
      font-size: 16px;
      padding: 8px 16px;
      background: transparent;
      color: $text !important;

      &.active, &:hover {
        border: none;
        background: transparent !important;
        border-bottom: 3px solid $accent !important;
        color: $accent !important;
      }
    }
  }
}

/*
 * Color Picker
 */

.colorpicker-wrapper {
  .add-on {

    line-height: 42px;
    height: 41px;
    width: 42px;
    text-align: center;
    display: block;
    padding: 0;
  }
}

/*
 * Category Title
 */

.edit-category-title, .admin-title {
  line-height: 46px;
  height: 46px;
  margin-bottom: 15px;
}

/*
 * Nav Stacked
 */

.nav-stacked {
  li {
    border-bottom: 1px solid $border !important;
    position: relative !important;
    padding: 0 !important;
    background-color: $white !important;

    a {
      color: $text !important;
      background-color: $white !important;

      &.active, &:hover {
        color: $white !important;
        background-color: $accent !important;
      }
    }
  }
}

/*
 * Misc
 */

.modal-header h3 {
  font-size: 20px;
}

.admin-controls {
  background: transparent !important;

  .controls {
    background: transparent !important;
  }

  nav, .nav {
    &::before, &::after {
      background: transparent !important;
    }

    padding: 0;
    background: transparent !important;
  }
}

.user-secondary-navigation, .user-notifications-filter-select-kit {
  .btn {
    margin-bottom: 15px;
    padding: 0 !important;
    width: 100%;
  }
}

.user-stream, .user-content {
  margin: 0 15px;
  min-width: auto !important;
}

.select-kit.dropdown-select-box.notifications-filter .notifications-filter-header {
  padding: 10px 30px !important;
}

#revision {
  margin-bottom: 17px;
  border-bottom: 0;
}

.small-action .topic-avatar {
  margin-top: 8px !important;
}

.small-action .small-action-desc .avatar {
  margin-top: 8px;
}

.tap-tile-grid .tap-tile {
  color: $text;
  border-bottom: 1px solid $border;

  &:hover, &.active {
    background: $accent;
    color: $white;
  }
}

.settings .setting.overridden h3 {
  color: $accent;
}

.admin-site-settings-category {
  .controls {

    padding: 0;
    margin-bottom: 15px;
  }
}

.admin-detail {
  border-left: 0 !important;
}

.staff-counters {
  background: transparent !important;

  * {
    color: $text !important;
  }
}

.user-stream-item.deleted {
  * {
    color: $white !important;
  }
}

.admin-customize .themes-list-header .tab {
  margin-bottom: 15px;
}

.quote-button {
  background: $accent !important;
  border-radius: 20px;
  border-color: transparent !important;

  .btn {
    border-color: transparent !important;

    opacity: 1 !important;
    color: $white !important;

    * {
      color: $white !important;
    }

    &:hover {
      color: $white !important;
      background: $accent !important;

      * {
        color: $white !important;
      }
    }
  }
}

.list-controls .nav-pills > li {
  border-color: transparent !important;
}

#topic-footer-buttons {
  padding: 0;
}

.tap-tile.active, .tap-tile:hover {
  color: $white !important;

  * {
    color: $white !important;
  }
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: $border;
}

.timeline-container .topic-timeline .timeline-handle {
  background-color: $accent;
}

.topic-list {
  th {
    color: $text !important;
    background-color: transparent !important;
  }

  tr {
    border-bottom: 1px solid $border !important;
  }
}

.topic-list .topic-list-item-separator td {
  border-bottom: 1px solid $border !important;
}

.topic-list .topic-list-item-separator td span {
  background-color: $white !important;
  color: $text !important;
}

#bulk-select {
  background-color: transparent !important;
}

.cooked ins, .d-editor-preview ins {
  color: $white !important;
}

.topic-body {
  background: transparent !important;
}

.topic-list > tbody > tr:nth-child(odd) {
  background-color: var(--secondary);
}

.topic-list > tbody tr:not(.last-visit):not(.topic-list-item-separator) td {
  border-bottom: 1px solid var(--primary-low);
}

.topic-list a.title:not(.badge-notification) {
  color: #3b5998;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
  font-size: 18px;
}

.topic-list a.title:not(.badge-notification):hover {
  text-decoration: underline;
}

.topic-list .creator,
.topic-list .editor {
  font-size: 13px;
  display: block;
  margin-top: 3px;
}

.topic-list .main-link {
  width: auto;
}

.topic-list {
  td,
  .creator a,
  .editor a {
    color: var(--primary-medium);
  }
}

.topic-list td {
  padding-bottom: 10px;
}

.topic-list th {
  color: var(--primary);
  background-color: var(--primary-very-low);
}

.topic-list {
  border-top: none;
}

.topic-list td:first-of-type {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.topic-list tr.topic-list-item-separator td:first-of-type {
  padding: 0;
}

.topic-list {
  .fa-tag {
    opacity: 0.7;
    font-size: 10px;
    margin-right: -2px;
  }

  .num.posts-map {
    position: relative;
    font-size: 17px;

    a {
      color: var(--primary-medium) !important;
      font-weight: normal;
    }

    a.heatmap-high {
      color: #c66 !important;
    }

    width: 100px;
  }
}

.topic-list td.last-post,
.topic-list th.activity {
  width: 160px;

  .relative-date {
    color: var(--primary-high);
  }
}

.topic-list .creator .relative-date {
  margin-left: 8px;
}

.badge-category-bg {
  opacity: 0.8;
}

.topic-list .badge-wrapper.bar {
  .badge-category {
    color: #9a9a9a !important;
    font-weight: 600;
    font-size: 12px;
    padding: 2px 6px;
  }

  .badge-category-bg {
    top: -1px;
  }
}

.last-post {
  .poster-avatar {
    margin-right: 10px;
  }

  .poster-avatar,
  .poster-info {
    float: left;
  }
}

.topic-list .posts {
  width: auto;
}

/* topic page */

nav.post-controls button.has-like {
  color: #08c;
}

.creator .badge-wrapper.bullet span.badge-category {
  margin-top: -2px;
}

#suggested-topics td.main-link {
  width: 500px;
}

.topic-list a.title.visited:not(.badge-notification) {
  color: #6644aa;
}

.topic-list-item .discourse-tags {
  font-size: 0.75em;
  display: inline-block;
  margin-left: 5px;
}

body {
  .topic-list-item.visited a.badge-wrapper,
  .latest-topic-list-item.visited a.badge-wrapper,
  .category-topic-link.visited a.badge-wrapper {
    opacity: 1;
  }
}

.d-header-icons {

  li.header-dropdown-toggle {
    background-color: transparent !important;
    border-radius: 0;
    transition: border-radius 0.4s;

    &:hover {
      background-color: $white !important;
      border-radius: 50px;

      * {
        color: #000000 !important;
        opacity: 1 !important;
      }
    }
  }
}


.footer {

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  }

  background-color: $white;
  padding-top: 40px;
  padding-bottom: 26px;
  margin-top: 15px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);

  h4.page-title {
    text-transform: none;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 19px;
    color: $accent;
    cursor: pointer;
  }

  ul.list-unstyled {
    li {
      a {
        line-height: 44px;
        font-size: 16px;
        color: $text;

        &:hover, &:active, &.nav-selected, &.nav-path-selected {
          color: $accent;
        }
      }
    }
  }

  .footer-legal {
    p {
      margin-top: 0;
    }
  }

  .footer-social {
    a {
      color: $gray;
      font-size: 19px;
      line-height: 40px;

      &:hover {
        color: $accent;
      }
    }
  }

  .footer-site-title {
    img {
      height: 40px;
      width: auto;
    }
  }

  .footer-legal {
    p {
      font-family: "Noto Sans";
      font-weight: 400;
      font-size: 14px;
      line-height: 40px;
      color: $legal;
      text-align: right;
      margin-bottom: 0;
    }
  }


  @media (max-width: 768px) {

    h4.page-title {
      position: relative;
      height: 22px;
      line-height: 22px;

      border-bottom: 1px solid #373C53;
      padding-bottom: 35px;

      &::after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        right: 0;
        height: 22px;
        line-height: 22px;
        width: 22px;
        color: $gray;
      }

      &[aria-expanded="true"] {
        &::after {
          content: "\f077";
        }
      }
    }
  }
}

header.has-sub-nav > .container {
  height: 60px;
}

@media (max-width: 768px) {
  header.has-sub-nav > .container {
    height: auto;
  }
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
  text-transform: none;
}

.dropdown-header {
  text-transform: none;
  font-weight: 700;
  font-size: 16px;
  color: #999999;
  line-height: 26px;
}

.dropdown-item, header .widget-button {
  font-weight: 400;
  font-size: 16px;
  color: $gray-tertiary !important;
  line-height: 41px;
  opacity: 1 !important;
  width: 100%;
  padding: 0.25rem 1.5rem !important;
  text-align: left;

  svg {
    display: none !important;
  }

  &:hover, &:active, &.active {
    background-color: $dark-blue !important;
    color: $white !important;
  }
}

.dropdown {
  display: inline;
}

.dropdown-toggle {
  border: none;
  background: transparent;
  outline: 0;
}

.ccm-dropdown {

  .dropdown-toggle {
    padding: 0;
  }

  .dropdown-toggle:focus {
    background-color: $white;

    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
  }

  .dropdown-menu {
    margin-top: -1px;
    position: relative;

    &::before {
      z-index: 4;
      content: " ";
      width: calc(100% - 1px);
      height: 6px;
      background-color: $white;
      position: absolute;
      top: -3px;
      left: 1px;
    }
  }
}

#ccm-toggle-mobile-nav {
  padding: 0 !important;
  margin: 0 !important;
}

.hamburger-box {
  width: 20px;
  height: 19px;
  display: inline-block;
  position: relative;
}

.hamburger-inner::before, .hamburger-inner::after, .hamburger-inner {
  position: absolute;
  width: 20px !important;
  height: 3px !important;
  border-radius: 4px;
  background-color: #828282 !important;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

@media (max-width: 991.98px) {
  header .navbar-inner {
    max-width: 720px;
    margin: auto;
    display: flex !important;
    width: 100%;
    position: relative;

    .navbar-brand {

      margin-top: 5px;
    }
  }

  .nav-item.open .dropdown-menu {
    position: relative !important;
    display: inline-block !important;
    width: 100% !important;
    padding-top: 75px;

    li {
      opacity: 1 !important;
      display: block !important;
      width: 100% !important;

      .widget-button {
        svg {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header .navbar-inner {
    margin-top: 10px !important;
  }

  #navbarSupportedContent {
    margin-top: -10px !important;
  }
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

body #topic-progress {
  display: none;
}

body .topic-avatar {
  position: absolute;
}

.topic-body .topic-meta-data {
  margin-left: 50px;
}

body .topic-body,
body .topic-meta-data,
body .trigger-user-card.main-avatar,
body .container.posts,
body .post-stream,
body .post-stream .row,
body .topic-post,
body .topic-meta-data,
body .regular.contents,
body .topic-post article.boxed,
body .post-menu-area {
  display: block;
  width: 100%;
}

body .post-stream * {
  word-wrap: break-word !important;
}

.topic-area > .loading-container {
  display: none;
}

.small-action .topic-avatar .d-icon,
.topic-navigation {
  display: none;
}

.popup-menu {
  overflow: hidden;
}

.popup-menu .btn {
  width: 100%;
}

.small-action {
  max-width: none !important;
}

.footer-message h3,
.footer-message *,
#main-outlet * {
  font-size: 16px !important;
  font-family: "Noto Sans" !important;
  text-transform: none !important;
}

.footer-message * {
  font-weight: normal;
  font-family: "Noto Sans" !important;
  text-transform: none !important;
}

.embedded-posts .topic-meta-data {
  margin-left: 75px;
}

.post-menu-area {
  padding: 1em 11px 0.25em 11px !important;
  display: block;
  width: 100%;

  nav {
    display: block;
    width: calc(100% - 22px);
  }
}

.map, .map * {
  font-family: "Noto Sans" !important;
}

.topic-list-item {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.select-kit .select-kit-header .btn-clear {
  border: none !important;
}

.search-container .search-advanced-sidebar .search-advanced-filters {
  background: none !important;
}

#list-area .top-lists .btn {
  padding: 5px 10px !important;
  border-radius: 0;
}

.search-advanced-filters {
  padding: 0 !important;
}

.search-container .search-advanced-sidebar .search-advanced-title {
  padding: 0 !important;
  margin-bottom: 15px !important;
  background: none !important;
}

.search-container {
  padding-bottom: 15px !important;
}

.search-bar {
  input {
    margin-right: 0 !important;
    border-right: 0 !important;
  }

  button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: 0 !important;
    height: 43px !important;
    min-width: 43px !important;
    text-align: center !important;
  }
}

.search-footer {
  font-weight: normal !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: Poppins !important;
  text-transform: uppercase;
}

.highlighted {
  animation: none !important;
}

.posts-filtered-notice {
  background: $light-gray !important;
  margin-bottom: 15px;
}

.search-container,
.regular,
.container.list-container {
  padding-bottom: 15px;
  background: #ffffff !important;
  margin-bottom: -15px;
}

.home-link {
  color: #fff !important;
  font-family: "Poppins" !important;
}
.admin-content {
  padding: 15px;
}

.search-container {
  padding-top: 15px;
}

.list-controls {
  background: transparent !important;
}

.wrap>.contents, #main-outlet>div, #main-outlet>section {
  background: transparent;
}

.topic-list tr,
.category-topics-count,
.category-list-item.category tr:first-of-type {
  border: none !important;
}


.user-content,
.about .details {
  padding-left: 20px !important;
  padding-top: 20px !important;
  padding-right: 20px !important;
  margin-left: 0 !important;
  line-height: 32px !important;
}

.user-content {
  width: 100% !important;
}

.about .controls .btn {
  border-radius: 5px !important;
  border-color: #dfdfdf !important;
}

.user-content-wrapper .nav-pills a {
  padding-left: 36px !important;
  padding-right: 36px !important;
}

#main-outlet .user-main .about h1 {
  font-size: 2em !important;
  font-weight: normal !important;
}